    <footer id='footer'>
      <div class='contact'>
        Acceso Libre | <a href='https://twitter.com/accesolibreve'>Twitter</a> | <a href='https://www.youtube.com/channel/UCRdCF5eP0ely_8joRkTwHbw'>YouTube</a> | <a href='https://www.facebook.com/accesolibrered'>Facebook</a> | <a href='https://plus.google.com/u/0/105761990462821195008/'>Google+</a> | <a href='https://github.com/accesolibre'>GitHub</a> | <a href='/blog'>Blog</a>

      </div>
    </footer>

    <!-- build:js(app) /js/scripts.js -->
    <script src='/js/plugins.js'></script>
    <script src='/js/main.js'></script>
    <!-- endbuild -->

    <script src="http://fightforthefuture.github.io/reset-the-net-widget/widget/rtn.js"></script>

    {% include ga.html %}
  </body>
</html>
